UserParameter=redis.discovery[*],python {{ zabbix_agent_userparameters_scripts_src_path }}/redis/redis_discovery.py
UserParameter=redis[*],/bin/bash {{ zabbix_agent_userparameters_scripts_src_path }}/redis/redis_status.sh $1 $2
