"os_info{interface=`"{{ ansible_interfaces[0].interface_name | replace(" ", "_") }}`",model=`""+(get-wmiobject win32_computersystem).Model+"`",nodename=`""+$env:COMPUTERNAME+"`",release=`""+(Get-WmiObject -class Win32_OperatingSystem).Version+"."+(gwmi win32_operatingsystem | select osarchitecture).osarchitecture+"`",sysname=`"Windows`",build=`""+(Get-WmiObject -class Win32_OperatingSystem).Caption.trim('Microsoft ')+"`"} 1" | Out-File -encoding ASCII "C:\ProgramData\wmi_textfile_inputs\os_info.prom"
