NODE_EXPORTER_OPTS='--web.listen-address="{{ ansible_default_ipv4.address }}:{{ os_linux_exporter_type_item.port }}" --log.level=warn --log.format=logfmt --collector.{{ " --collector.".join(vars["node_exporter_collector"]) }} --collector.textfile.directory="{{ node_exporter_collector_textfile_directory }}"{% if node_exporter_systemd_collector is defined %} --collector.systemd.unit-whitelist="({{ "|".join(vars["node_exporter_systemd_collector"]) }})\\.service"{% endif %}{% if node_exporter_ignored_mount_points_collector is defined %} --collector.filesystem.ignored-mount-points="^/({{ ")|(".join(vars["node_exporter_ignored_mount_points_collector"]) }}).*"{% endif %}{% if node_exporter_ignored_devices_collector is defined %} --collector.diskstats.ignored-devices="^({{ "|".join(vars["node_exporter_ignored_devices_collector"]) }}|(h|s|v|xv)d[a-z])\\\\d+$"{% endif %}'
