{% if os_dns_search is defined %}
search {{ os_dns_search }}
{% endif %}
{% if os_dns_server is defined %}
{% for host in os_dns_server %}
nameserver {{ host }}
{% endfor %}
{% endif %}
{% if os_linux_resolver_single_request | bool %}
options timeout:2 attempts:3 rotate single-request-reopen
{% endif %}
